body {
    font-family: Arial;
    background: linear-gradient(135deg, #00bfa5, #00897b, #004d40);
    color: white;
    margin: 0;
}

/* LAYOUT */
.main {
    display: flex;
    gap: 20px;
    padding: 20px;
}

/* IZQUIERDA */
.container {
    width: 70%;
    background: #0d1b1e;
    padding: 20px;
    border-radius: 10px;
}

/* DERECHA */
.fiados {
    width: 30%;
    background: #112d32;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #ffd700;
}

/* LOGO */
.logo {
    width: 120px;
    border-radius: 50%;
    border: 3px solid #ffd700;
    box-shadow: 0 0 10px #00ffd5;
}

/* PANEL */
.panel, .panel-fiados {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 15px;
}

/* INPUTS */
input, select {
    padding: 8px;
    border-radius: 5px;
    border: none;
}

/* BOTONES */
button {
    padding: 8px;
    background: linear-gradient(45deg, #00ffd5, #00bfa5);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: linear-gradient(45deg, #ffd700, #c9a000);
}

/* TABLA */
table {
    width: 100%;
    border-collapse: collapse;
    background: #0f2a2e;
}

th {
    background: #ffd700;
    color: black;
}

th, td {
    border: 2px solid #00ffd5;
    padding: 8px;
}
